.app-wrapper {
  position: relative;
}

.sub-app {
  position: absolute;
  left: -25px; /* 修改初始位置为左侧 */
  top: -25px;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0 0 40px #000;
  transform: translateX(0) rotate(2deg) translateY(-25px) scale(1); /* 调整初始动画效果 */
  transform-origin: 0 0;
  transition:
    transform 0.6s cubic-bezier(0.8, 0.2, 0.1, 0.8) 0.1s,
    background 0.4s linear;
  cursor: pointer;
  user-select: none;
}

.sub-app--next {
  z-index: 5;
  transform: translateX(25px) rotate(4deg) translateY(-25px) scale(1); /* 调整下一个卡片的位置和动画效果 */
}
.sub-app--out {
  animation: sub-app-out 0.6s cubic-bezier(0.8, 0.2, 0.1, 0.8);
  transform: translateX(55px) rotate(8deg) translateY(-50px) scale(0.95); /* 调整正在消失的卡片的位置和动画效果 */
  z-index: 1;
}

@keyframes sub-app-out {
  0% {
    z-index: 20;
    transform: translateX(0px) rotate(-4deg); /* 调整初始位置和角度 */
  }
  50% {
    transform: translateX(120%) rotate(-5deg) translateY(-40px); /* 调整消失过程中的位置和角度 */
  }
  80% {
    z-index: 1;
  }
  100% {
    transform: translateX(55px) rotate(8deg) translateY(-50px) scale(0.95); /* 调整消失后的位置和角度 */
  }
}

.sub-app--current {
  cursor: auto;
  user-select: auto;
  position: relative;
  z-index: 10;
  opacity: 1;
  background: #eee;
  transform: rotate(0deg) translateY(0%) scale(1); /* 调整当前卡片的位置和动画效果 */
}
